---
import { Icon } from "astro-icon"
import Link from "@/components/Link.astro"

export interface Props {
  prevUrl?: string
  nextUrl?: string
  prevText?: string
  nextText?: string
  class?: string
}

// const url = Astro.url

const { prevUrl, nextUrl, prevText = "Prev", nextText = "Next", class: className } = Astro.props
---

{
  (prevUrl || nextUrl) && (
    <div class:list={["container flex pt-4 border-t border-neutral", className]}>
      <div class="container mx-auto flex flex-row justify-between gap-8">
        <Link href={prevUrl} style="muted" class={`${!prevUrl ? "invisible" : "w-1/2 rounded-xl p-4 hover:bg-neutral duration-200 hover:text-primary"}`}>
          <div class="flex flex-row justify-start items-center">
            <Icon name="tabler:chevron-left" class="h-6 w-6" />
            <span class="ml-2">{prevText}</span>
          </div>
        </Link>
        <Link href={nextUrl} style="muted" class={`${!nextUrl ? "invisible" : "w-1/2 rounded-xl p-4 hover:bg-neutral duration-200 hover:text-primary"}`}>
          <div class="flex flex-row justify-end items-center">
            <span class="mr-2">{nextText}</span>
            <Icon name="tabler:chevron-right" class="h-6 w-6" />
          </div>
        </Link>
      </div>
    </div>
  )
}
